{% extends "base.html" %}

{% block title %}
Edit Driver
{% endblock %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-primary text-white">

        <h4>
            Edit Driver
        </h4>

    </div>

    <div class="card-body">

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-success"
            >
                Save Changes
            </button>

            <a
                href="{% url 'manage_drivers' %}"
                class="btn btn-secondary"
            >
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}