{% extends "base.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-warning">

        <h4>
            Reset Password
        </h4>

    </div>

    <div class="card-body">

        <p>

            Driver:

            <strong>
                {{ driver.user.get_full_name }}
            </strong>

        </p>

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-warning"
            >
                Reset Password
            </button>

            <a
                href="{% url 'manage_drivers' %}"
                class="btn btn-secondary"
            >
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}